.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-10,
.col-20,
.col-25,
.col-30,
.col-50,
.col-60,
.col-70,
.col-75 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-25 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-30 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.col-50 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-60 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.col-70 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

.col-75 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@media (min-width: 768px) {
  .d-none {
    display: none;
  }
}

@media (max-width: 767px) {
  .d-xs-none {
    display: none;
  }
  .col-xs {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xs-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  .col-xs-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xs-60 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  .col-xs-65 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (max-width: 420px) {
  .col-10,
  .col-20,
  .col-25,
  .col-30,
  .col-50,
  .col-60,
  .col-70,
  .col-75 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .pd-0 {
    padding: 0;
  }
}

.pd-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mg-top-5 {
  margin-top: 5px;
}

.mg-bot-15 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.border-none {
  border: none !important;
}

#theme-mode {
  position: fixed;
  right: 15px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

#theme-mode img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#back-to-top {
  position: fixed;
  bottom: -80px;
  right: 15px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  line-height: 40px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#back-to-top.active {
  bottom: 15px;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.background-overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 99999;
}

.background-overlay-modal {
  -webkit-transition: unset;
  transition: unset;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}

html {
  font-family: "NunitoSans";
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

.light-mode {
  color: #050505;
  background-color: #f0f2f5;
}

.light-mode .header {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0px #eaebeb;
          box-shadow: 0 1px 2px 0px #eaebeb;
}

.light-mode .header-search__input {
  color: #050505;
  background-color: #f0f2f5;
}

.light-mode .header-search__input::-webkit-input-placeholder {
  color: #757575;
}

.light-mode .header-search__input:-ms-input-placeholder {
  color: #757575;
}

.light-mode .header-search__input::-ms-input-placeholder {
  color: #757575;
}

.light-mode .header-search__input::placeholder {
  color: #757575;
}

.light-mode .header-search__btn {
  color: #757575;
}

.light-mode .header-user__action ul {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 1px #eaebeb;
          box-shadow: 0 1px 2px 1px #eaebeb;
}

.light-mode .header .menu-mobile .menu-mobile-content {
  background-color: #fff;
}

.light-mode .header .menu-mobile .menu-mobile-content .main-logo {
  border-bottom: 1px solid #ddd;
}

.light-mode .header .menu-mobile .menu-mobile-content .user-action {
  border-bottom: 1px solid #ddd;
}

.light-mode .header .menu-mobile .menu-mobile-content .user-action button {
  border: 1px solid #050505;
}

.light-mode .header .menu-mobile .menu-mobile-content .infomation-user {
  border-bottom: 1px solid #ddd;
}

.light-mode .header .menu-mobile .menu-mobile-content ul > li {
  border-bottom: 1px solid #ddd;
}

.light-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile {
  background-color: #f3f3f3;
}

.light-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li:nth-child(odd) a {
  border-right: 1px solid #ddd;
}

.light-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li a i {
  color: #5f5f5f;
}

.light-mode .box-content {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0px #eaebeb;
          box-shadow: 0 1px 2px 0px #eaebeb;
}

.light-mode .box-content h3 {
  border-bottom: 1px solid #ddd;
}

.light-mode .story-list__item {
  padding: 8px 15px;
  border-bottom: 1px dashed #ddd;
}

.light-mode .story-list__item-detail .info-story i {
  color: #5f5f5f;
}

.light-mode .nav-bar .list-category ul li:before {
  color: #5f5f5f;
}

.light-mode .nav-bar .story-wishlish ul li,
.light-mode .nav-bar .story-trending ul li,
.light-mode .nav-bar .user-top ul li {
  border-bottom: 1px dashed #ddd;
}

.light-mode .main-content .charts-story h3 .charts-story__times {
  border: 1px solid #ddd;
}

.light-mode .chapter .title-chapter {
  background-color: #f0f2f5;
}

.light-mode .pagination ul li {
  border: 1px solid #ddd;
}

.light-mode footer {
  color: #050505;
  background-color: #fff;
}

.light-mode #back-to-top {
  background-color: rgba(0, 0, 0, 0.4);
}

.dark-mode {
  color: #ddd;
  background-color: #18191a;
}

.dark-mode .header {
  background-color: #242526;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header-search__input {
  color: #ddd;
  background-color: #3a3b3c;
}

.dark-mode .header-search__input::-webkit-input-placeholder {
  color: #b0b3b8;
}

.dark-mode .header-search__input:-ms-input-placeholder {
  color: #b0b3b8;
}

.dark-mode .header-search__input::-ms-input-placeholder {
  color: #b0b3b8;
}

.dark-mode .header-search__input::placeholder {
  color: #b0b3b8;
}

.dark-mode .header-search__btn {
  color: #b0b3b8;
}

.dark-mode .header-user__action ul {
  background-color: #3a3b3c;
}

.dark-mode .header-user__action ul button {
  color: #ddd;
}

.dark-mode .header .menu-mobile .menu-mobile-content {
  background-color: #242526;
}

.dark-mode .header .menu-mobile .menu-mobile-content .main-logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header .menu-mobile .menu-mobile-content .user-action {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header .menu-mobile .menu-mobile-content .user-action button {
  border: 1px solid #ddd;
}

.dark-mode .header .menu-mobile .menu-mobile-content .infomation-user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header .menu-mobile .menu-mobile-content ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile {
  background-color: #3a3b3c;
}

.dark-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li:nth-child(odd) a {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li a i {
  color: #ddd;
}

.dark-mode .box-content {
  background-color: #242526;
}

.dark-mode .box-content h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .story-list__item {
  padding: 8px 15px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.dark-mode .story-list__item-detail .info-story i {
  color: #ddd;
}

.dark-mode .nav-bar .list-category ul li:before {
  color: #ddd;
}

.dark-mode .nav-bar .story-wishlish ul li,
.dark-mode .nav-bar .story-trending ul li,
.dark-mode .nav-bar .user-top ul li {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.dark-mode .main-content .charts-story h3 .charts-story__times {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .chapter .title-chapter {
  background-color: #3a3b3c;
}

.dark-mode .pagination ul li {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode footer {
  color: #ddd;
  background-color: #242526;
}

.dark-mode #back-to-top {
  background-color: rgba(255, 255, 255, 0.4);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 99999;
}

.header-logo a {
  display: block;
}

.header-logo a img {
  width: 120px;
}

.header-search form {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-search__input {
  width: 100%;
  height: 100%;
  padding: 0 12px 0 38px !important;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 20px;
}

.header-search__btn {
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 35px;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.header-user {
  position: relative;
  text-align: right;
}

.header-user__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user__info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.header-user__info .username:hover,
.header-user__info .btn-login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-user__info i {
  margin-right: 5px;
}

.header-user__action {
  position: absolute;
  top: 200%;
  right: 15px;
  padding-top: 10px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: -1;
}

.header-user__action.active {
  top: 100%;
  opacity: 1;
  pointer-events: all;
  z-index: 999;
}

.header-user__action ul {
  border-radius: 3px;
}

.header-user__action ul button {
  display: block;
  padding: 10px 30px;
  background-color: transparent;
}

.header-user__action ul button:hover {
  text-decoration: underline;
}

.header .menu-mobile {
  text-align: right;
}

.header .menu-mobile .btn-show-menu {
  display: inline-block;
}

.header .menu-mobile .btn-show-menu i {
  font-size: 2.8rem;
}

.header .menu-mobile .menu-mobile-content {
  position: fixed;
  top: 0;
  left: -75%;
  width: 70%;
  height: 100%;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.header .menu-mobile .menu-mobile-content.active {
  left: 0;
}

.header .menu-mobile .menu-mobile-content .main-logo {
  padding: 10px;
}

.header .menu-mobile .menu-mobile-content .main-logo a {
  display: block;
  width: 100px;
}

.header .menu-mobile .menu-mobile-content .main-logo a img {
  width: 100%;
}

.header .menu-mobile .menu-mobile-content .main-logo .btn-close-menu {
  font-size: 2.2rem;
}

.header .menu-mobile .menu-mobile-content .user-action {
  padding: 10px;
}

.header .menu-mobile .menu-mobile-content .user-action button {
  width: calc(50% - 5px);
  padding: 8px 15px;
  border-radius: 3px;
}

.header .menu-mobile .menu-mobile-content .user-action button.btn-register {
  color: #fff;
  background-color: #707070;
  border-color: #707070;
}

.header .menu-mobile .menu-mobile-content .user-action button i {
  margin-right: 5px;
}

.header .menu-mobile .menu-mobile-content .infomation-user {
  padding: 10px;
}

.header .menu-mobile .menu-mobile-content .infomation-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.header .menu-mobile .menu-mobile-content .infomation-user span i {
  margin-left: 5px;
}

.header .menu-mobile .menu-mobile-content ul {
  overflow-y: auto;
}

.header .menu-mobile .menu-mobile-content ul > li.list-category-mobile span {
  position: relative;
  display: block;
  padding: 10px;
}

.header .menu-mobile .menu-mobile-content ul > li.list-category-mobile span i {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .menu-mobile .menu-mobile-content ul > li:last-child {
  border: none;
}

.header .menu-mobile .menu-mobile-content ul > li > a,
.header .menu-mobile .menu-mobile-content ul > li > button {
  display: block;
  padding: 10px;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .menu-mobile .menu-mobile-content ul > li > a i,
.header .menu-mobile .menu-mobile-content ul > li > button i {
  margin-right: 3px;
}

.header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li {
  width: 50%;
  display: inline-block;
}

.header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li:nth-child(45) {
  border-bottom: unset;
}

.header .menu-mobile .menu-mobile-content ul > li ul.sub-menu-mobile li a i {
  margin-right: 5px;
}

#content {
  margin-top: 65px;
}

.box-content {
  margin-bottom: 15px;
  border-radius: 5px;
}

.box-content h3 {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 15px 10px;
  font-family: "NunitoSans-Bold";
  border-radius: 5px 5px 0 0;
}

.box-content h3 a i {
  margin-left: 5px;
}

.box-content ul a {
  line-height: 1.3;
}

.story-list__item {
  padding: 8px 15px;
}

.story-list__item:last-child {
  border-bottom: none;
}

.story-list__item:nth-child(1) .info-story .story-numerical-order {
  color: #df1a0c;
}

.story-list__item:nth-child(2) .info-story .story-numerical-order {
  color: #29b93b;
}

.story-list__item:nth-child(3) .info-story .story-numerical-order {
  color: #b9ae29;
}

.story-list__item-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story-list__item-detail .info-story {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-list__item-detail .info-story > i {
  display: none;
  margin-right: 10px;
  font-size: 2rem;
}

.story-list__item-detail .info-story .story-numerical-order {
  font-size: 2rem;
  margin-right: 10px;
  color: #2980b9;
}

.story-list__item-detail .info-story .name-status-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.story-list__item-detail .info-story .name-status-story .name-story {
  max-width: 385px;
  margin-right: 5px;
}

.story-list__item-detail .info-story .name-status-story .status-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-list__item-detail .info-story .name-status-story .status-story .is-vip,
.story-list__item-detail .info-story .name-status-story .status-story .is-full,
.story-list__item-detail .info-story .name-status-story .status-story .is-hot {
  padding: 3px 5px;
  font-size: 1.2rem;
  font-family: "NunitoSans-Bold";
  text-transform: capitalize;
  background-color: transparent;
  display: none;
}

.story-list__item-detail .info-story .name-status-story .status-story .is-vip.active,
.story-list__item-detail .info-story .name-status-story .status-story .is-full.active,
.story-list__item-detail .info-story .name-status-story .status-story .is-hot.active {
  display: block;
  margin-right: 3px;
}

.story-list__item-detail .info-story .name-status-story .status-story .is-vip {
  text-transform: uppercase;
  color: #c84336;
  border: 1px solid #c84336;
}

.story-list__item-detail .info-story .name-status-story .status-story .is-full {
  color: #86ad86;
  border: 1px solid #86ad86;
}

.story-list__item-detail .info-story .name-status-story .status-story .is-hot {
  color: #fd8383;
  border: 1px solid #fd8383;
}

.story-list__item-detail .info-story .story-list__item-total-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
  font-size: 1.1rem;
}

.story-list__item-detail .info-story .story-list__item-total-trending .author-story {
  font-size: 1.2rem;
}

.story-list__item-detail .info-story .story-list__item-total-trending .author-story,
.story-list__item-detail .info-story .story-list__item-total-trending .total-like-story {
  margin-right: 15px;
}

.story-list__item-detail .info-story .story-list__item-total-trending .author-story,
.story-list__item-detail .info-story .story-list__item-total-trending .total-like-story,
.story-list__item-detail .info-story .story-list__item-total-trending .total-view-story {
  line-height: 1.3;
}

.story-list__item-detail .info-story .story-list__item-total-trending .author-story i,
.story-list__item-detail .info-story .story-list__item-total-trending .total-like-story i,
.story-list__item-detail .info-story .story-list__item-total-trending .total-view-story i {
  margin-right: 5px;
}

.story-list__item-detail .info-updated-story {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
  color: #707070;
}

.story-list__item-detail .info-updated-story .last-chapter-story {
  margin-right: 30px;
}

.story-list__item-detail .info-updated-story .total-like-story {
  margin-right: 20px;
}

.story-list__item-detail .info-updated-story .total-chapter-story {
  margin-right: 35px;
}

.story-list__item-detail .info-updated-story .updated-time-story,
.story-list__item-detail .info-updated-story .total-view-story {
  min-width: 85px;
  text-align: right;
}

.story-list__item-detail .info-updated-story .total-like-story i,
.story-list__item-detail .info-updated-story .total-view-story i {
  margin-right: 5px;
}

.story-list__item-detail .info-updated-story .total-like-story {
  min-width: 60px;
}

.story-list__item.see-more {
  text-align: center;
}

.story-list__item.see-more a {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background-color: #707070;
  border-radius: 20px;
}

.nav-bar .list-category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3px 0;
}

.nav-bar .list-category ul li {
  position: relative;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.nav-bar .list-category ul li:before {
  position: absolute;
  content: "\f02b";
  font-family: "FontAwesome";
  top: 8px;
  left: 15px;
}

.nav-bar .list-category ul li a {
  display: inline-block;
  padding: 6px 15px 6px 35px;
  line-height: 1.3;
  text-transform: capitalize;
}

.nav-bar .story-wishlish ul li,
.nav-bar .story-trending ul li,
.nav-bar .user-top ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 15px;
}

.nav-bar .story-wishlish ul li:last-child,
.nav-bar .story-trending ul li:last-child,
.nav-bar .user-top ul li:last-child {
  border-bottom: none;
}

.nav-bar .story-wishlish ul li .story-numerical-order,
.nav-bar .story-trending ul li .story-numerical-order,
.nav-bar .user-top ul li .story-numerical-order {
  font-size: 2rem;
  margin-right: 10px;
  color: #2980b9;
}

.nav-bar .story-wishlish ul li:nth-child(1) .story-numerical-order,
.nav-bar .story-trending ul li:nth-child(1) .story-numerical-order,
.nav-bar .user-top ul li:nth-child(1) .story-numerical-order {
  color: #df1a0c;
}

.nav-bar .story-wishlish ul li:nth-child(2) .story-numerical-order,
.nav-bar .story-trending ul li:nth-child(2) .story-numerical-order,
.nav-bar .user-top ul li:nth-child(2) .story-numerical-order {
  color: #29b93b;
}

.nav-bar .story-wishlish ul li:nth-child(3) .story-numerical-order,
.nav-bar .story-trending ul li:nth-child(3) .story-numerical-order,
.nav-bar .user-top ul li:nth-child(3) .story-numerical-order {
  color: #b9ae29;
}

.nav-bar .story-wishlish ul li .user-image,
.nav-bar .story-trending ul li .user-image,
.nav-bar .user-top ul li .user-image {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-bar .story-wishlish ul li .user-image img,
.nav-bar .story-trending ul li .user-image img,
.nav-bar .user-top ul li .user-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.nav-bar .story-wishlish ul li .story-detail__name, .nav-bar .story-wishlish ul li .story-detail__username,
.nav-bar .story-wishlish ul li .user-detail__name,
.nav-bar .story-wishlish ul li .user-detail__username,
.nav-bar .story-trending ul li .story-detail__name,
.nav-bar .story-trending ul li .story-detail__username,
.nav-bar .story-trending ul li .user-detail__name,
.nav-bar .story-trending ul li .user-detail__username,
.nav-bar .user-top ul li .story-detail__name,
.nav-bar .user-top ul li .story-detail__username,
.nav-bar .user-top ul li .user-detail__name,
.nav-bar .user-top ul li .user-detail__username {
  display: block;
  margin-bottom: 3px;
  font-family: "NunitoSans-Bold";
}

.nav-bar .story-wishlish ul li .story-detail__views, .nav-bar .story-wishlish ul li .story-detail__time-view,
.nav-bar .story-wishlish ul li .user-detail__views,
.nav-bar .story-wishlish ul li .user-detail__time-view,
.nav-bar .story-trending ul li .story-detail__views,
.nav-bar .story-trending ul li .story-detail__time-view,
.nav-bar .story-trending ul li .user-detail__views,
.nav-bar .story-trending ul li .user-detail__time-view,
.nav-bar .user-top ul li .story-detail__views,
.nav-bar .user-top ul li .story-detail__time-view,
.nav-bar .user-top ul li .user-detail__views,
.nav-bar .user-top ul li .user-detail__time-view {
  font-size: 1rem;
}

.nav-bar .story-wishlish ul li .story-detail__views i, .nav-bar .story-wishlish ul li .story-detail__time-view i,
.nav-bar .story-wishlish ul li .user-detail__views i,
.nav-bar .story-wishlish ul li .user-detail__time-view i,
.nav-bar .story-trending ul li .story-detail__views i,
.nav-bar .story-trending ul li .story-detail__time-view i,
.nav-bar .story-trending ul li .user-detail__views i,
.nav-bar .story-trending ul li .user-detail__time-view i,
.nav-bar .user-top ul li .story-detail__views i,
.nav-bar .user-top ul li .story-detail__time-view i,
.nav-bar .user-top ul li .user-detail__views i,
.nav-bar .user-top ul li .user-detail__time-view i {
  margin-right: 5px;
  font-size: 1.2rem;
}

.nav-bar .story-wishlish ul li .see-more,
.nav-bar .story-trending ul li .see-more,
.nav-bar .user-top ul li .see-more {
  padding: 5px 20px;
  color: #fff;
  background-color: #707070;
  border-radius: 20px;
}

.nav-bar .list-tag .tag {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px 10px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #707070;
  border-radius: 20px;
}

.main-content .charts-story h3 {
  position: relative;
}

.main-content .charts-story h3 .charts-story__times {
  position: absolute;
  right: 15px;
  bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  font-family: "NunitoSans";
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}

.main-content .charts-story h3 .charts-story__times a {
  padding: 7px 15px;
  background-color: #707070;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.main-content .charts-story h3 .charts-story__times a.active {
  color: #050505;
  background-color: #fff;
}

.main-content .charts-story h3 .charts-story__times a.charts-story__date {
  border-top-left-radius: 3px;
}

.main-content .charts-story h3 .charts-story__times a.charts-story__month {
  border-top-right-radius: 3px;
}

.main-content .charts-story h3 .charts-story__times a:hover {
  color: #050505;
  background-color: #fff;
}

.main-content .charts-story .story-list__item-detail .info-updated-story .total-view-story {
  text-align: left;
}

.main-content .nominated-story .story-list__item-detail .info-story {
  max-width: 60%;
}

.main-content .nominated-story .story-list__item-detail .info-updated-story {
  max-width: 40%;
}

.main-content .nominated-story .story-list__item-detail .total-view-story {
  text-align: left;
}

.chapter {
  padding: 15px;
  line-height: 1.3;
}

.chapter .title-chapter {
  padding: 20px;
  border: 1px dashed #acacac;
  border-radius: 5px;
  text-align: center;
}

.chapter .title-chapter .name-story {
  font-family: "NunitoSans-Bold";
  font-size: 1.8rem;
  text-transform: uppercase;
}

.chapter .title-chapter .name-chapter {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.chapter .title-chapter .author i {
  margin-right: 5px;
}

.chapter .content-chapter {
  margin-top: 15px;
  font-size: 2rem;
  line-height: 1.3;
}

.breadcrumb {
  margin-bottom: 5px;
  padding: 8px 0 10px;
}

.breadcrumb-chapter {
  padding: 8px 0 13px;
}

.breadcrumb ul li {
  display: inline-block;
  margin-right: 5px;
}

.breadcrumb ul li a i {
  margin-right: 5px;
}

.pagination {
  padding: 20px 0;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.pagination ul li:hover, .pagination ul li.active {
  color: #fff;
  background-color: #707070;
}

.pagination ul li a {
  display: block;
  line-height: inherit;
}

.pagination-chapter ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #707070;
}

.pagination-chapter ul li:first-child, .pagination-chapter ul li:last-child {
  width: 120px;
}

.pagination-chapter ul li:first-child {
  border-radius: 3px 0 0 3px;
}

.pagination-chapter ul li:first-child i {
  margin-right: 5px;
}

.pagination-chapter ul li:last-child {
  border-radius: 0 3px 3px 0;
}

.pagination-chapter ul li:last-child i {
  margin-left: 5px;
}

footer {
  margin-top: 20px;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}

footer .copy-right {
  margin-bottom: 8px;
  text-transform: capitalize;
}

footer .contact-us a {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  padding: 20px;
  width: 500px;
  color: #050505;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999999;
}

.modal.active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal .btn-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #4c4c4c;
  border-radius: 50%;
  font-size: 2.2rem;
}

.modal h3 {
  margin-bottom: 20px;
  font-family: "NunitoSans-Bold";
  font-size: 2rem;
  text-align: center;
}

.modal .login-with-account {
  border-bottom: 1px solid #ddd;
}

.modal .login-with-account form {
  width: 100%;
  text-align: center;
}

.modal .login-with-account form input,
.modal .login-with-account form button {
  margin-bottom: 8px;
  width: 100%;
  height: 35px;
  background-color: #f0f2f5;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .login-with-account form input {
  padding: 0 15px;
  font-size: 1.2rem;
  color: #050505;
}

.modal .login-with-account form button {
  margin-top: 5px;
  color: #fff;
  background-color: #707070;
}

.modal .login-with-account form button:hover {
  text-decoration: underline;
}

.modal .login-with-account .btn-forgot-password {
  margin-bottom: 15px;
  font-size: 1.2rem;
  text-decoration: underline;
}

.modal .login-with-social-network {
  margin-bottom: 15px;
  text-align: center;
}

.modal .login-with-social-network h3 {
  margin-top: 15px;
}

.modal .login-with-social-network button {
  width: 150px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
}

.modal .login-with-social-network button:hover {
  text-decoration: underline;
}

.modal .login-with-social-network button i {
  margin-right: 5px;
  font-size: 1.6rem;
}

.modal .login-with-social-network button.btn-login-facebook {
  margin-right: 5px;
  color: #fff;
  background-color: #3f51b5;
}

.modal .login-with-social-network button.btn-login-google {
  position: relative;
  border: 1px solid #ddd;
}

.modal .login-with-social-network button.btn-login-google img {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.modal .login-with-social-network button.btn-login-google span {
  margin-left: 20px;
}

.modal .register {
  text-align: center;
}

.modal .register span {
  font-size: 1.2rem;
}

.modal .register button {
  text-decoration: underline;
}

.modal .box-content-forgot-password,
.modal .box-content-change-password {
  display: none;
}

.modal .box-content-forgot-password.active,
.modal .box-content-change-password.active {
  display: block;
}

.modal .notification-forgot-password,
.modal .notification-change-password {
  display: none;
  padding: 20px 0;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

.modal .notification-forgot-password.active,
.modal .notification-change-password.active {
  display: block;
}

.modal .notification-forgot-password .title-notif,
.modal .notification-change-password .title-notif {
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-family: "NunitoSans-Bold";
}

.modal .notification-forgot-password div span,
.modal .notification-change-password div span {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */